.hero
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    padding-top: 6.1rem;
    height: auto;
    background-image: url(../resources/SR-71half.webp);
    background-position: right center;
    background-size: 10% ;
    background-repeat: no-repeat;
}

.hero_titles
{
    width: 72%;
    height: auto;
    text-align: end;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
}


.hero h1
{
    font-weight: bolder;
    font-size: 3.2rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.hero h2
{
    font-weight: bolder;
    font-size: 1.4rem;
}

.hero h3
{
    font-weight: 400;
    font-size: 1rem;
    padding-top: 0.4rem;
    break-inside: avoid;
    padding-bottom: 0.4rem;
}


.hero h4
{
    font-weight: 600;
    font-size: 1.6rem;
    padding-top: 0.4rem;
    break-inside: avoid;
}

.hero_accordion_section
{
    width: 72%;
    height: auto;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 1%;
}

.hero_accordion_section_1
{
    grid-column-start: 1;
    height: 450px;
   
}

.hero_accordion_section_2
{
    grid-column-start: 2;
    height: 450px;
   
}

.hero_accordion_section_3
{
    grid-column-start: 3;
    height: 450px;
   
}

.hero_accordion_section_4
{
    grid-column-start: 4;
    height: 450px;
   
}

.hero_accordion_section_5
{
    grid-column-start: 5;
    height: 450px;
}

.hero_ask
{
    min-width: 58%;
    height: auto;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ask
{
    background-color: white;
    width: 100%;
    border-radius: 1rem;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0.6rem;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: row;
}

#input-ask
{
    width: 86%;
    font-size: large;
    outline: none;
    border: none;
    text-align: end;
}





