.hero
{
    width: 100vw;
    height: 92vh;
    background-image: url(../resources/SR-71half.webp);
    background-position: right center;
    background-size: 10%;
    background-repeat: no-repeat;
}