.hero {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 11%,26%,4.1rem; 
    background-image: url(../src/resources/SR-71half.webp),url(../src/resources/RicksCar.webp),url(../src/resources/Icons/fluent--swipe-down-20-filled.svg);
    background-position: center right, left 4% top 12.2% , center bottom 4%; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title_container
{
    width: auto;
    height: auto;
}

.h2_margin_left_20
{
    margin-top: 0.4%;
    margin-left: 25%;
}