.hero {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 12%,26%; /* Doubles the width of the image */
    background-image: url(../src/resources/SR-71half.webp),url(../src/resources/RicksCar.webp);
    background-position: center right, left 4% top 12.2%; /* Moves the right half of the image to the right side */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}