body{
  
  text-overflow: ellipsis;
  color: white;
  background-color: #1A1C1B;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* hide the scroll bar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}

