body{
  
  text-overflow: ellipsis;
  color: white;
  background: linear-gradient(90deg, #161122 21px, transparent 1%) center, linear-gradient(#161122 21px, transparent 1%) center, #a799cc;
  background-size: 22px 22px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* hide the scroll bar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}



.libre-franklin-h1
{
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-size: 64px;
  font-weight: 600;
  font-style: normal;
}

.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}


/* Font Sizes */

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 2.8em;
  color: #FFFFFF;
  margin: 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 1.2em;
  color: #FFFFFF;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 0.8em;
  color: #FFFFFF;
}

/* Font Sizes */

